		.nav-tabs {
			border-bottom: 0;
		}
		.font-size-2 {
			font-size: 2rem;
		}
		
		#json-tab .nav-link,
		#rdf-tab .nav-link{
			color: #f1f1f1;
		}
		
		#json-tab .nav-link.active,
		#rdf-tab .nav-link.active{
			color: rgb(255,82,82);
			border-color: transparent transparent rgb(255,82,82);
		}
		
		#json-tab .nav-link,
		#rdf-tab .nav-link	{
			border-color: transparent transparent #f1f1f1;
			border-radius: 4px;
		}
		.nav-tabs .nav-link {
			border: 3px solid transparent;
		}
		#data-content{
			margin-top: 150px;
			margin-bottom: 150px;
		}
		#json-tab{
			display:flex;
			justify-content:center;
		}
		#rdf-tab{
			margin-top: 30px;
		}
		#jsonData{
			background: #191f2b;
			color: white;
			width: 100%;
			height: 89%;
			resize: none;
		}
		#rdfData{
			background: #191f2b;
			color: white;
			width: 100%;
			height: 99%;
			resize: none;
		}
		.json-card, .rdf-card {
			box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
			padding: 5px 15px;
		}
		.json-card:not(:first-child), .rdf-card:not(:first-child){
			margin-top: 15px;
		}
		.json-card .md-form .btn:hover, .rdf-card .md-form .btn:hover {
			color: rgb(255,82,82);
		}
		.input-border {
			border-bottom: 1px solid #ced4da;
		}
		.fa-1p3x {
			font-size: 1.3rem;
		}
		.icon-brackets:before{
			content: "";
			display: block;
			background: url("curly-brackets.svg") no-repeat;
		    width: 25px;
			height: 40px;
			float: left;
			margin: 2px 6px 0 0;
			background-size: 25px 40px;
		}
		#json-tab .nav-link.active > .icon-brackets:before {
			background: url("curly-brackets-red.svg") no-repeat;
			background-size: 25px 40px;
		}
		.rdf-icon {
			margin-right: 6px;
		}
		pre{
			padding: 5px;
			color: white;
			height: 100%;
			width: 100%;
		}
		pre::-webkit-scrollbar {
			width: 10px;
			height: 10px;
		}
		pre::-webkit-scrollbar-track {
		  background: #f1f1f1; 
		}
		pre::-webkit-scrollbar-thumb {
		  border-radius: 10px;
		  background: #888; 
		}
		pre::-webkit-scrollbar-thumb:hover {
		  background: #555; 
		}
		.string{ 
			color: green; 
		}
		.number{ 
			color: darkorange; 
		}
		.boolean{
			color: blue; 
		}
		.null{ 
			color: hotpink;; 
		}
		.key{ 
			color: red; 
		}
		.add-button {
			cursor: pointer;
		}
		.add-button .fa-stack{
			width: 100%;
			margin-top: 10px;
		}
		.add-button > .fa-stack > .fas:nth-child(1n) {
			color: #f1f1f1;;
		}
		.add-button > .fa-stack > .fas:nth-child(2n) {
			color: inherit;
		}
		.horizontal-line {
			position: absolute;
			width: 95%;
			background: #f1f1f1;
			height: 3px;
			margin-top: 25px;
			left: 15px;
		}
		.margin-top-buttons {
			margin-top: 42px;
		}
		.select2.select2-container.select2-container--default {
			width: 100% !important;
		}
		.select2-selection.select2-selection--multiple {
			box-sizing: content-box;
			background-color: transparent;
			border: none;
			border-bottom: 1px solid #ced4da;
			border-radius: 0;
			outline: 0;
			box-shadow: none;
			transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
			margin-top: 10px;
		}
		.select2.select2-container.select2-container--default > .selection > .select2-selection.select2-selection--multiple {
			border: 0;
			border-bottom: 1px solid #ced4da;
			box-shadow: none;
		}
		.select2.select2-container.select2-container--default.select2-container--below.select2-container--focus.select2-container--open 
		 > .selection > .select2-selection.select2-selection--multiple {
			border: 0;
			border-bottom: 1px solid #4285f4;
			box-shadow: 0 1px 0 0 #4285f4;
		}
		.select2-dropdown {
			border: 0;
			border-radius: 0;
			min-width: 6.25rem;
			max-height: 40.625rem;
			margin: 0;
			overflow-y: auto;
			background-color: #fff;
			-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
			box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
			will-change: width, height;
		}
		select.form-control {
			box-sizing: content-box;
			background-color: transparent;
			border: none;
			border-bottom-color: currentcolor;
			border-bottom-style: none;
			border-bottom-width: medium;
			border-bottom-color: currentcolor;
			border-bottom-style: none;
			border-bottom-width: medium;
			border-bottom: 1px solid #ced4da;
			border-radius: 0;
			outline: 0;
			box-shadow: none;
			transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
		}
		select.form-control {
			appearance: none;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAh0lEQVQ4T93TMQrCUAzG8V9x8QziiYSuXdzFC7h4AcELOPQAdXYovZCHEATlgQV5GFTe1ozJlz/kS1IpjKqw3wQBVyy++JI0y1GTe7DCBbMAckeNIQKk/BanALBB+16LtnDELoMcsM/BESDlz2heDR3WePwKSLo5eoxz3z6NNcFD+vu3ij14Aqz/DxGbKB7CAAAAAElFTkSuQmCC');
			background-repeat: no-repeat;
			background-position: right center;
		}
		select.form-control:focus ~ label {
			transform: translateY(-14px) scale(.8);			
		}
		
		
		
		